# Python caches
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/

# VCS and editor files
.git/
.gitignore
.vscode/

# Build artifacts
*.egg-info/
dist/
build/

# Local env files
.env
